<div class="container">
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div class="login-container">
                <div>
                    <h1 class="welcome">Create an Account</h1>
                    <p class="welcome-message">Let's get started, by entering your details.</p>
                </div>
                <div class="form-container">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Username</span>
                        <input type="text" class="form-control" placeholder="Enter your username">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Email</span>
                        <input type="text" class="form-control" placeholder="Enter your email">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Password</span>
                        <input type="password" class="form-control" placeholder="Enter your password">
                    </div>
                    <div class="button-group">
                        <button mat-raised-button color="primary" class="login-button">Register</button>
                    </div>

                </div>
                <p class="signup-link">Already have an account? <a href="/login">Log In</a></p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="assets/store.jpg" alt="Description of the image">
        </mat-grid-tile>
    </mat-grid-list>
</div>